:root {
  --sz-color-yellow: #ffcc00;
  --sz-color-yellow-active: #f29100;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}
/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
a {
  text-decoration: none;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
body {
  background: #131842;
  font-family: 'Nunito';
}
.container {
  padding: 0 24px;
  margin: 0 auto;
}
.promotion {
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
}
.promotion_headline {
  font-weight: 800;
  line-height: 31px;
  font-size: 24px;
}
.promo-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: white;
  margin-bottom: 50px;
}
.promo-section_title {
  font-weight: 800;
  line-height: 31px;
  font-size: 24px;
}
.promo-section_image {
  filter: drop-shadow(0 0 70px rgba(255, 255, 255, 0.2));
  max-width: 600px;
  width: 100%;
}
.promo-section_image-car {
  scale: 2;
  filter: drop-shadow(0 0 70px rgba(255, 255, 255, 0.3));
  z-index: 1;
}
.promo-section_description {
  margin-top: 15px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 21px;
  font-size: 16px;
}
.promo-section_buttons-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.promo-section_buttons-block a {
  z-index: 5;
}
.promo-section_button-buy {
  background-color: var(--sz-color-yellow);
  border-radius: 12px;
  border: none;
  width: 100%;
  padding: 15.5px 0;
  font-weight: 700;
  line-height: 19px;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}
.promo-section_button-buy:hover {
  background-color: var(--sz-color-yellow-active);
  cursor: pointer;
}
.promo-section_button-buy:active {
  background-color: var(--sz-color-yellow);
  opacity: 0.4;
}
.promo-section_button-more {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 12px;
  width: 100%;
  padding: 15.5px 0;
  font-weight: 700;
  line-height: 19px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}
.promo-section_button-more:hover {
  background-color: #ffffff33;
  cursor: pointer;
}
.promo-section_button-more:active {
  background-color: transparent;
  opacity: 0.4;
}
.promo-slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.promo-slider_more {
  width: 100%;
  display: flex;
  justify-content: end;
  z-index: 5;
}
.promo-slider_button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  font-weight: 800;
  color: white;
  font-size: 20px;
  gap: 10px;
  margin-bottom: 30px;
}
.promo-slider_button:hover {
  cursor: pointer;
}
.promo-slider_block {
  margin: 0 -24px;
  height: 530px;
}
.promo-slider_card {
  display: flex;
  flex-direction: column;
  width: 290px;
  border: 1px solid white;
  border-radius: 10px;
  background: #131842;
  margin-right: 15px;
  min-width: 0;
  margin-top: 70px;
}
.promo-slider_card-wrapper {
  padding: 20px;
  color: white;
}
.promo-slider_card-title {
  font-weight: 800;
  line-height: 31px;
  font-size: 24px;
  margin-bottom: 10px;
}
.promo-slider_card-description {
  font-weight: 400;
  line-height: 26px;
  font-size: 20px;
  margin-bottom: 10px;
}
.promo-slider_card-button {
  background-color: var(--sz-color-yellow);
  border-radius: 12px;
  border: none;
  width: 100%;
  padding: 15.5px 0;
  font-weight: 700;
  line-height: 19px;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}
.promo-slider_card-button:hover {
  background-color: var(--sz-color-yellow-active);
  cursor: pointer;
}
.promo-slider_card-button:active {
  background-color: var(--sz-color-yellow);
  opacity: 0.4;
}
.lottery-catalog {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  color: white;
}
.lottery-catalog_title {
  font-weight: 800;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}
.lottery-catalog_description {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
.lottery-catalog_carousel {
  margin: 40px -24px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  overflow: hidden;
  transition: transform 5s linear;
}
.lottery-catalog_carousel-first {
  display: flex;
  gap: 20px;
  animation: scrollLeft 30s linear infinite;
}
.lottery-catalog_carousel-first img {
  width: 110px;
  min-width: 110px;
}
.lottery-catalog_carousel-second {
  display: flex;
  gap: 20px;
  animation: scrollLeft 30s linear infinite reverse;
}
.lottery-catalog_carousel-second img {
  width: 110px;
  min-width: 110px;
}
.lottery-catalog_button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 12px;
  width: 100%;
  padding: 15.5px 0;
  font-weight: 700;
  line-height: 19px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}
.lottery-catalog_button:hover {
  background-color: #ffffff33;
  cursor: pointer;
}
.lottery-catalog_button:active {
  background-color: transparent;
  opacity: 0.4;
}
.record {
  margin: 50px 0;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.record img {
  scale: 1.1;
  width: 500px;
}
.record_block {
  display: flex;
  flex-direction: column;
}
.record h2 {
  font-weight: 800;
  line-height: 32px;
  font-size: 24px;
  margin-bottom: 15px;
}
.record p {
  font-weight: 500;
  line-height: 21px;
  font-size: 16px;
  margin-bottom: 30px;
}
.record_button-buy {
  background-color: var(--sz-color-yellow);
  border-radius: 12px;
  border: none;
  width: 100%;
  padding: 15.5px 0;
  font-weight: 700;
  line-height: 19px;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}
.record_button-buy:hover {
  background-color: var(--sz-color-yellow-active);
  cursor: pointer;
}
.record_button-buy:active {
  background-color: var(--sz-color-yellow);
  opacity: 0.4;
}
.winners {
  color: white;
  margin-bottom: 50px;
}
.winners h2 {
  font-weight: 800;
  line-height: 32px;
  font-size: 24px;
}
.winners_card {
  background: #131842;
  border: 1px solid white;
  border-radius: 12px;
  padding: 18px 20px 18px 15px;
  display: flex;
  gap: 10px;
}
.winners_card-all {
  background: #131842;
  border: 1px solid white;
  border-radius: 12px;
  padding: 42px 25px 25px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.winners_card-all-link {
  color: white;
}
.winners_card-all-title {
  font-weight: 800;
  line-height: 29px;
  font-size: 24px;
}
.winners_card_name {
  font-weight: 700;
  line-height: 15px;
  font-size: 16px;
  margin-bottom: 8px;
}
.winners_card-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
.winners_card-wrapper {
  margin-top: 30px;
  display: grid;
  grid-column: 1;
  gap: 15px;
}
.winners_card_prize {
  font-weight: 700;
  line-height: 15px;
  font-size: 20px;
}
.winners_card_prize-icon img {
  width: 30px;
  height: 30px;
}
.winners_card-game {
  width: 40px;
  height: 22px;
  margin-top: 19px;
}
.news {
  margin: 50px 0;
  color: white;
}
.news h2 {
  font-weight: 800;
  line-height: 32px;
  font-size: 24px;
  margin-bottom: 30px;
}
.news_card {
  background-image: url("data:image/svg+xml,%3Csvg width='290' height='293' viewBox='0 0 290 293' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='289' height='292' rx='11.5' fill='%23131842'/%3E%3Crect x='0.5' y='0.5' width='289' height='292' rx='11.5' stroke='url(%23paint0_linear_60_452)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_60_452' x1='4.19737' y1='-2.37477e-05' x2='310.161' y2='28.9628' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237995D1'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  width: 290px;
  padding: 1px 1px 0 2px;
  border-radius: 12px;
  margin-right: 20px;
}
.news_card-more {
  background-image: url("data:image/svg+xml,%3Csvg width='290' height='293' viewBox='0 0 290 293' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_64_451)'%3E%3Crect width='290' height='293' rx='12' fill='%23131842'/%3E%3Ccircle opacity='0.3' cx='258.5' cy='7.5' r='175.5' fill='url(%23paint0_linear_64_451)'/%3E%3C/g%3E%3Crect x='0.5' y='0.5' width='289' height='292' rx='11.5' stroke='url(%23paint1_linear_64_451)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_64_451' x1='258.5' y1='-168' x2='258.5' y2='183' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231160FB'/%3E%3Cstop offset='1' stop-color='%2304389F'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_64_451' x1='4.19737' y1='-2.37477e-05' x2='310.161' y2='28.9628' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237995D1'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_64_451'%3E%3Crect width='290' height='293' rx='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  width: 290px;
  padding: 9px 25px 25px;
  border-radius: 12px;
  margin-right: 20px;
}
.news_card-more-button {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  border: none;
  color: white;
  font-weight: 800;
  line-height: 29px;
  font-size: 24px;
}
.news_card-more-image {
  rotate: 10deg;
  margin-left: 20px;
}
.news_card-info {
  padding: 15px 24px 24px;
}
.news_card-info-text {
  font-weight: 800;
  line-height: 21px;
  font-size: 16px;
  margin-bottom: 5px;
}
.news_card-info-date {
  font-weight: 600;
  line-height: 18px;
  font-size: 14px;
}
.social_responsibility {
  color: white;
  margin: 50px 0;
}
.social_responsibility h2 {
  font-weight: 800;
  line-height: 32px;
  font-size: 24px;
  margin-bottom: 15px;
}
.social_responsibility p {
  font-weight: 500;
  line-height: 21px;
  font-size: 16px;
  margin-bottom: 15px;
}
.social_responsibility-images {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.social_responsibility-images img {
  margin: 0 auto;
}
.partners {
  color: white;
  margin: 50px 0;
}
.partners h2 {
  font-weight: 800;
  line-height: 32px;
  font-size: 24px;
  margin-bottom: 15px;
}
.partners-images {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.partners-images img {
  margin: 0 auto;
}
@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-1300px);
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 80px;
  }
  .promo-section_image {
    margin: 0 auto;
  }
  .promo-section_buttons-block {
    flex-direction: row;
    width: 100%;
  }
  .promo-section_buttons-block a {
    width: 50%;
  }
  .promo-slider_block {
    margin: 0 -80px;
  }
  .promo-slider_card {
    width: 330px;
    margin-right: 20px;
  }
  .lottery-catalog_carousel {
    margin: 40px -80px;
  }
  .lottery-catalog a {
    width: 312px;
    margin: 0 auto;
  }
  .record img {
    scale: 1;
    width: 500px;
    margin: 0 auto;
  }
  .record a {
    width: 312px;
    margin: 0 auto;
  }
  .winners_card-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .center {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1279px) {
  .container {
    padding: 0 130px;
  }
  .car {
    display: flex !important;
    flex-direction: row-reverse;
  }
  .promo-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
  }
  .promo-section_text-block {
    width: 350px;
  }
  .promo-section_buttons-block {
    flex-direction: column;
    width: 100%;
  }
  .promo-section_buttons-block a {
    width: 100%;
  }
  .promo-section_image-car {
    scale: 1.7;
    margin-left: 70px;
  }
  .promo-slider_card {
    margin-top: 0;
  }
  .winners_card-wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lottery-catalog_carousel {
    margin: 40px -130px;
  }
  .record_block h2,
  .record_block p {
    text-align: center;
  }
  .social_responsibility h2,
  .social_responsibility p {
    text-align: center;
  }
  .social_responsibility-images img {
    width: 140px;
  }
  .partners h2 {
    text-align: center;
  }
  .partners-images img {
    width: 140px;
  }
  .hide-2 {
    display: none !important;
  }
}
@media (max-width: 1279px) {
  .hide {
    display: none !important;
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.noslider:first-child {
  margin-top: 70px;
}
.noslider:nth-child(2) {
  margin-bottom: 70px;
}
.noslider:nth-child(3) {
  margin-top: 70px;
}
.is-selected {
  margin-top: 0;
}
.flickity-page-dots .dot {
  background: white !important;
}
.flickity-page-dots .dot.is-selected {
  width: 40px;
  border-radius: 15px;
  background: white;
}
