body {
    background: grey;
}

.container {
    margin: 0 auto;
    padding: 0 130px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 378px;
    background: #131842;
    border: 1px solid white;
    border-radius: 12px;
    color: white;
}

.info {
    padding: 25px;
}

.card:first-child {
    margin-top: 70px;
    /* Пример значения padding-top */
}

.card:nth-child(2) {
    margin-bottom: 70px;
    /* Пример значения padding-top */
}

.card:nth-child(3) {
    margin-top: 70px;
    /* Пример значения padding-top */
}

@media (max-width: 1280px) {
    .hide {
        display: none;
    }
}

@media (min-width: 1280px) {
    .hide-2 {
        display: none;
    }
}